<!-- Contacts -->
	<div class="small-12 medium-6 columns" id="Contacts">
        <div class="group">
          <h4>Contacts associated with this data client</h4>
          <p>Choose one or more contact below. Doing so will associate this data client with the contact.</p>

          <%= simple_form_for [@contact_data_client], url: contact_info_admin_contact_data_clients_path, remote: true do |f| %>
            <%= f.hidden_field :contact_info_data_client_id %>
            <%= hidden_field_tag :called_from, "data_client" %>
            <%= f.association :contact, 
            collection: ContactInfo::Contact.not_associated_with_this_data_client(@contact_data_client.data_client),
            label: false,
            label_method: -> (contact) { "#{contact.name} - #{contact.title}" },
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select contacts'} }%>
            <%= f.submit "add contact", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					<p>
					<strong>Current contacts</strong>					
					<br />(Order for <%=link_to "https://pro.harman.com/contacts"%>)
          </p>

          <ul id="contact_data_clients" class="sortable_list">
            <% @contact_data_clients.each do |association| %>
              <%= render "/contact_info/admin/contact_data_clients/contact_data_client_row", association: association, called_from: "data_client" %>
            <% end %>
          </ul>
          
          <p style="margin-top:20px;">
          	Can't find the contact in the list above? <%= link_to "Create a new contact", new_contact_info_admin_contact_path(contact: {data_client_id: "#{@data_client.id}"}) %>.
          </p>
          
          <p>Go to: <%= link_to "Contacts List", contact_info_admin_contacts_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div> 