<!-- Tags -->
	<div class="small-12 medium-6 columns" id="Tags" data-client="pro-contacts">
        <div class="group">
          <h4>Tags</h4>
          <p>Choose one or more tag below. Doing so will associate this contact with the tag.</p>

          <%= simple_form_for [@contact_tag], url: contact_info_admin_contact_tags_path, remote: true do |f| %>
            <%= f.hidden_field :contact_info_contact_id %>
            <%= hidden_field_tag :called_from, "contact" %>
            <%= f.association :tag, 
            collection: ContactInfo::Tag.not_associated_with_this_contact(@contact_tag.contact),
            label: false,
            # label_method: :tag,
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select tags'} }%>
            <%= f.submit "add tag", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					<strong>Current tags</strong>
          <ul id="contact_tags" class="sortable_list">
            <% @contact_tags.order(:position).each do |association| %>
              <%= render "/contact_info/admin/contact_tags/contact_tag_row", association: association, called_from: "contact" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the tag in the list above? <%= link_to "Create a new tag", new_contact_info_admin_tag_path(tag: {contact_id: "#{@contact.id}"}) %>.
          </p>
          <p>Go to: <%= link_to "Tags List", contact_info_admin_tags_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div> 