<h1 id="contacts_admin_heading">Contacts</h1>

<ul class="button-group round">
	<li><%= link_to 'New Contact', new_contact_info_admin_contact_path, class: "small success button" %></li>
</ul>

<div class="row" style="margin-bottom: 30px;">
  <div class="small-12 medium-6 large-4 columns">
      <%= select_tag "contact-select", 
      options_from_collection_for_select(ContactInfo::Contact.all.sort_by(&:name), 'id', 'name', @contact_id), 
      prompt: "Filter by Contact Name",
      class: 'chosen-select'
      %>  
  </div>    
  <div class="small-12 medium-6 large-4 columns">
      <%= select_tag "email-select", 
      options_from_collection_for_select(ContactInfo::Email.joins(:contacts).sort_by(&:email), 'id', 'email', @email_id), 
      prompt: "Filter by Email",
      class: 'chosen-select'
      %>  
  </div>   

  
  <div class="small-12 medium-6 large-4 columns">
    <strong><%=link_to "Show All", contact_info_admin_contacts_path(show_all:1) %></strong>
  </div>   
  
</div><!-- <div class="row" style="margin-bottom: 30px;">  -->

<% if @contacts %>
  <div style="margin-bottom:30px;"><%= raw @results_message%></div>
<% else %>
  <div style="margin-bottom:30px;"><strong>Use one of the filters above to see the Contacts list.</strong></div>
<% end %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Emails</td>
      <td>Phones</td>
      <td>Titles</td>
      <td>Locations</td>
      <td>Websites</td>
      <td>Data Clients</td>
      <td>Supported Brands (uncommon)</td>
      <td>Supported Countries (uncommon)</td>
    </tr>
  </thead>
<% if @contacts %>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, edit_contact_info_admin_contact_path(contact) %></td>
        <td>
          <ul>
            <% contact.emails.order(:email).each do |email|%>
              <li><%= link_to email.email, edit_contact_info_admin_email_path(email)%></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <% contact.phones.order(:phone).each do |phone|%>
              <li><%= link_to phone.phone, edit_contact_info_admin_phone_path(phone)%></li>
            <% end %>
          </ul>
        </td>
        <td><%= contact.title %></td>
        <td>
          <ul>
          <% contact.locations.order(:name).each do |location| %>
            <li><%= link_to location.name, edit_location_info_admin_location_path(location) %></li>
          <% end %>
          </ul>
        </td>
        <td>
          <ul>
          <% contact.websites.order(:url).each do |website| %>
            <li><%= link_to website.url, edit_contact_info_admin_website_path(website) %></li>
          <% end %>
          </ul>
        </td>        
        <td>
          <ul>
            <% contact.data_clients.order(:name).each do |data_client|%>
              <li><%= link_to data_client.name, edit_contact_info_admin_data_client_path(data_client)%></li>
            <% end %>
          </ul>
        </td>     
        <td>
          <ul>
            <% contact.supported_brands.order(:name).each do |supported_brand|%>
              <li><%= supported_brand.name %></li>
            <% end %>
          </ul>
        </td>  
        <td>
          <ul>
            <% contact.supported_countries.order(:name).each do |supported_country|%>
              <li><%= link_to supported_country.harman_name, edit_location_info_admin_country_path(supported_country)%></li>
            <% end %>
          </ul>
        </td>        
      </tr>
    <% end %>
  </tbody>
<% end %>  <%# if @contacts %>
</table>

