<%= simple_form_for [:tse, :admin, @tse_category] do |f| %>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.association :parent, collection: TseCategory.where(parent_id: nil) - [f.object] %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :position,
        hint: "Controls the order it appears in the dropdown AND the order resulting contacts appear on the page."
      %>
    </div>
  </div>
  <%= f.input :notes, hint: "Only appears for top-level categories." %>

  <%= f.submit class: "radius button" %>
<% end %>
