<!-- Locations -->
	<div class="small-12 medium-6 columns" id="Locations">
        <div class="group">
          <h4>Locations associated with <%=@contact_phone.phone.phone%></h4>
          <p>Choose one or more location below. Doing so will associate this phone with the location.</p>

          <%= simple_form_for [@location_phone], url: location_info_admin_location_phones_path, remote: true do |f| %>
            <%= f.hidden_field :contact_info_phone_id %>
            <%= hidden_field_tag :called_from, "phone" %>
            <%= f.association :location, 
            collection: LocationInfo::Location.not_associated_with_this_phone(@location_phone.phone),
            label: false,
            label_method: -> (location) { "#{location.name} - #{location.city}" },
            # label_method: -> (location) { "#{location.name}" },
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select locations'} }%>
            <%= f.submit "add location", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					<strong>Current locations</strong>
          <ul id="location_phones" class="list">
            <% @location_phones.each do |association| %>
              <%= render "/location_info/admin/location_phones/location_phone_row", association: association, called_from: "phone" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the location in the list above? <%= link_to "Create a new location", new_location_info_admin_location_path(location: {phone_id: "#{@phone.id}"}) %>.
          </p>
          <p>Go to: <%= link_to "Locations List", location_info_admin_locations_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div> 