<h1>Phones</h1>

<ul class="button-group round">
	<li><%= link_to 'Contact List', contact_info_admin_contacts_path, class: "small button round" %>	</li>
	<li><%= link_to 'New Phone', new_contact_info_admin_phone_path, class: "small success button" %></li>
</ul>

<% if @phones %>
<div style="margin-bottom:30px;">Showing <strong><%= @phones.size%> Phones</strong></div>
<% end %>

<table class="data">
  <tr>
  	<th></th>
    <th>Label</th>
    <th>Phone</th>
    <th>Associated Contacts</th>
  </tr>

<% @phones.each do |phone| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_contact_info_admin_phone_path(phone), class: "small round button" %></td>
    <td><%= phone.label %></td>
    <td><%= phone.phone %></td>
    <td><% phone.contacts.order(:name).each do |contact|%><%= "#{contact.name} - #{contact.title}"%><br /><%end%></td>
  </tr>
<% end %>
</table>
