<%= link_to 'Phones List', contact_info_admin_phones_path, class: "small button round" %>

<h1>New Phone</h1>

<%if @contact.present?%>
<p>This new phone number will be associated with <%=link_to "#{@contact.name} - #{@contact.title}", edit_contact_info_admin_contact_path(@contact)%>. (You can change this later)<br />
Or if you want to create the phone without associating it to a contact? <%= link_to "Click to here create new phone without association.", new_contact_info_admin_phone_path %>
</p>
<%end%>

<%= simple_form_for @phone, url: contact_info_admin_phones_path do |f| %>
  <%= f.input :phone, label: "Phone" %>
  <%= f.input :label, label: "Label" %>
  <%= f.hidden_field :contact_id, value: "#{params[:phone][:contact_id]}" unless params[:phone].nil? %>

    </br>
  <%= f.button :submit %>
<% end # simple_form_for @phone, url: contact_info_admin_phones_path do |f|%>
