<div class="bumped-up">
  <div class="banner-container text-center" style="background: white">
    <div class="slick-show">
      <% @slides.each_with_index do |slide, i| %>
        <div class="slick-slide homepage-banner">
          <% if slide.headline.present? %>
            <h1 class="homepage-banner"><%=raw format_headline slide.headline %></h1>
          <% end %>
          <% if slide.link_url.present? %>
            <%= link_to slide.link_url, target: (slide.link_new_window?) ? "_blank" : "" do %>
              <img <% if i>0 %>data-lazy<% else %>src<% end %>="<%= slide.background.url %>" alt="<%= slide.name %>"/>
            <% end %>
          <% else %>
            <img data-lazy="<%= slide.background.url %>" alt="<%= slide.name %>"/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container main-container">

  <%= render "case_studies" %>
  <%= render "news" %>
  <%#= render "events" %>
  <%= render "resources" %>
  <%= render "service" %>

</div>

<% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
<div class="row collapse">
  <div class="small-12 columns">
    <div class="ecomm-strip">
      <div class="row collapse">
        <div class="medium-6 columns">
          <%= link_to SiteSetting.value("store_link") do %>
            <%= image_tag "shop_banner_bg.jpg", alt: "Shop HARMAN direct" %>
          <% end %>
        </div>
        <div class="medium-5 small-12 columns text-center cta">
          <h3><%= raw format_headline SiteSetting.value("homepage-ecommerce-headline") %></h3>
          <p><%= raw SiteSetting.value("homepage-ecommerce-text") %></p>
          <p><%= link_to t('home_page.shop_now'), SiteSetting.value("store_link"), target: "_blank", class: "small radius button" %></p>
        </div>
        <div class="medium-1 hide-for-small columns">&nbsp;</div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if SiteSetting.set?("homepage-roadblock") %>
  <div id="roadblock" class="reveal-modal medium" data-reveal aria-labelledby="Offer" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <%= raw SiteSetting.value("homepage-roadblock") %>
  </div>
<% end %>


