<div id="top"></div>
<%= image_tag "new_products_header.jpg" %>

<div ng-controller="NewProductsCtrl" ng-cloak>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <div class="show-for-medium-down">
        <nav class="tab-bar">
          <section class="right">
            <a class="right-off-canvas-toggle" href="#"><i class="fa fa-filter"></i> FILTER RESULTS&nbsp;</a>
          </section>
        </nav>

        <aside class="right-off-canvas-menu">
          <div class="row">
            <div class="small-11 small-offset-1 columns">
              <br/>

              <% brand_ids = @new_products.map{|np| np.brands.map{|b| b.id}}.flatten.uniq %>
              <% if brand_ids.length > 0 %>
                <h6>BRAND</h6>
                <% Brand.where(id: brand_ids).order(Arel.sql("UPPER(name)")).each do |brand| %>
                  <div class="side-filter">
                    <label>
                      <input type="checkbox" ng-model="selectedBrands.<%= brand.friendly_id.underscore %>">
                      <%= brand.name %>
                    </label>
                  </div>
                <% end %>
              <% end %>

              <% product_type_ids = @new_products.map{|np| np.product_types.map{|pt| pt.id}}.flatten.uniq %>
              <% if product_type_ids.length > 0 %>
                <br/>
                <h6>PRODUCT TYPE</h6>
                <% ProductType.with_translations(I18n.locale).where(id: product_type_ids).order(:name).each do |product_type| %>
                  <div class="side-filter">
                    <label>
                      <input type="checkbox" ng-model="selectedProductTypes.<%= product_type.friendly_id.underscore %>">
                      <%= product_type.name %>
                    </label>
                  </div>
                <% end %>
              <% end %>

              <br/>
              <h6>YEAR</h6>
              <% @new_products.map{|np| np.released_on.year}.uniq.sort.reverse.each do |year| %>
                <div class="side-filter">
                  <label>
                    <input type="checkbox" ng-model="selectedYears.y<%= year %>">
                    <%= year %>
                  </label>
                </div>
              <% end %>

              <br/>
              <p><small><i>Collapse this menu to see results.</i></small></p>
            </div>
          </div>
        </aside>
      </div>

      <div class="row">
        <div class="small-12 medium-12 large-9 columns">
          <div ng-repeat="new_product in filtered_new_products = (new_products | filter:includeProduct)"></div>
          <div ng-repeat="(key, value) in nps = (filtered_new_products | groupBy: 'month_year')">
            <h3>{{ key }}</h3>
            <ul class="small-block-grid-2 medium-block-grid-4">
              <li ng-repeat="new_product in (value | reverse)">
                <div ng-show="new_product.image_url">
                  <img ng-src="{{ new_product.image_url }}" img-preload />
                </div>
                <div ng-bind-html="getHtml( new_product.content)"></div>
                <p ng-show="new_product.more_info || new_product.press_release">
                  <div ng-show="new_product.more_info">
                    <a href="{{ new_product.more_info }}" target="_blank"><%= t('more_information').titleize %></a>
                  </div>
                  <div ng-show="new_product.press_release">
                    <a href="{{ new_product.press_release }}" target="_blank"><%= t('activerecord.models.press_release').titleize %></a>
                  </div>
                </p>
              </li>
            </ul>
          </div>

          <div ng-show="!filtered_new_products.length">
            <br/><br/><br/>
            <p class="text-center">
              {{ no_results }}
            </p>
          </div>
        </div>

        <div class="show-for-large-up large-3 columns">
          <br/>
          <p><strong><%= t("new_products_page.filters").upcase %></strong></p>

          <% brand_ids = @new_products.map{|np| np.brands.map{|b| b.id}}.flatten.uniq %>
          <% if brand_ids.length > 0 %>
            <h6><%= t('activerecord.models.brand').titleize %></h6>
            <% Brand.where(id: brand_ids).order(Arel.sql("UPPER(name)")).each do |brand| %>
              <div class="side-filter">
                <label>
                  <input type="checkbox" ng-model="selectedBrands.<%= brand.friendly_id.underscore %>">
                  <%= brand.name %>
                </label>
              </div>
            <% end %>
          <% end %>

          <% product_type_ids = @new_products.map{|np| np.product_types.map{|pt| pt.id}}.flatten.uniq %>
          <% if product_type_ids.length > 0 %>
            <br/>
            <h6><%= t('activerecord.models.product_type').titleize %></h6>
            <% ProductType.with_translations(I18n.locale).where(id: product_type_ids).order(:name).each do |product_type| %>
              <div class="side-filter">
                <label>
                  <input type="checkbox" ng-model="selectedProductTypes.<%= product_type.friendly_id.underscore %>">
                  <%= product_type.name %>
                </label>
              </div>
            <% end %>
          <% end %>

          <br/>
          <h6><%= t('date.year').titleize %></h6>
          <% @new_products.map{|np| np.released_on.year}.uniq.sort.reverse.each do |year| %>
            <div class="side-filter">
              <label>
                <input type="checkbox" ng-model="selectedYears.y<%= year %>">
                <%= year %>
              </label>
            </div>
          <% end %>
        </div>

      </div>
      <a class="exit-off-canvas"></a>
    </div>
  </div>
</div>

<a href="#top" class="small button">Back to Top</a>
