<ul class="button-group round">
    <li><%= link_to 'Emails List', contact_info_admin_emails_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', contact_info_admin_email_path(@email), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit Email</h1>

<%= simple_form_for @email, url: contact_info_admin_email_path do |f| %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :label, label: "Label" %>

    </br>
  <%= f.button :submit %>
<% end # simple_form_for @email, url: contact_info_admin_email_path do |f|%>


<div class="row">
  <%= render 'contacts' %>
  <%= render 'distributors' %>
</div>  <!-- <div class="row">  -->

<div class="row">
  <%= render 'locations' %>
</div>  <!-- <div class="row">  -->