<%= link_to "Country List", location_info_admin_countries_path, class: "small success radius button" %>

<div class="row">
  <div class="small-8 columns">
    <h1>Edit Country:</h1>
  </div>

  <div class="small-4 columns text-right">
    <%= link_to "delete country",
      location_info_admin_country_path,
      method: :delete,
      data: { confirm: "Are you sure you want to delete country #{@country.harman_name}?" },
      class: "small alert radius button" %>
  </div>
</div>


<%= simple_form_for @country, url: location_info_admin_country_path do |f| %>
<%= f.input :name %>
<%= f.input :harman_name %>
<%= f.input :alpha2 %>
<%= f.input :alpha3 %>
<%= f.input :continent %>
<%= f.input :region %>
<%= f.input :sub_region %>
<%= f.input :world_region %>
<%= f.input :harman_world_region %>
<%= f.input :calling_code %>
<%= f.input :numeric_code %>


<%= f.submit class: "radius button" %>
<% end %>

<div class="row">
  <%= render 'supported_locations' %>
  <%= render 'distributors' %>
  <%#= render 'regions' %>
</div>  <!-- <div class="row">  -->
<div class="row">
  <%= render 'supported_territories' %>
</div>  <!-- <div class="row">  -->