<li>
  <%= link_to media_coverage.link, target: "_blank" do %>
    <div class="panel" data-equalizer-watch="mc">
      <div class="external-link-icon">
        <%= fa_icon "external-link-square-alt", class: "fa-2x" %>
      </div>
      <div class="text-center">
        <% if media_coverage.media_outlet %>
          <h4>
            <% if media_coverage.media_outlet.logo.present? %>
              <%= image_tag media_coverage.media_outlet.logo(:small), alt: media_coverage.media_outlet.name, lazy: false %>
            <% else %>
              <%= media_coverage.media_outlet.name %>
            <% end %>
          </h4>
        <% end %>
        <p><strong><%= media_coverage.headline %></strong></p>
        <% if media_coverage.description.present? %>
          <p class="mc_description"><%= media_coverage.description %></p>
        <% end %>
        <p class="mc_date"><%=l media_coverage.news_date.to_date, format: :long %></p>
      </div>
    </div>
  <% end %>
</li>
