<% if @country_code == "mx" && @regions.join(', ') == "central america, caribbean" && @brand == "harman professional solutions" %>
    <h1>Distribuidores en México, Centro América y Caribe</h1>
<% else %>
    <h1><%=@brand.titleize%><br \> Distributors in <%=country_name(@country_code)%>/<%=@regions.join(', ').titleize%></h1>
<% end %>

<div style="margin-top:20px;">
<ul class="large-block-grid-3 medium-block-grid-1 small-block-grid-1">
<%@distributors_json.sort_by{|d| d["name"].downcase}.each do |d|
    distributor = d.deep_symbolize_keys%>
    <% if !distributor[:locations].empty? %>
            <li>
    <h3><%= distributor[:name] %></h3>
      <%=image_tag "https://flagcdn.com/24x18/#{distributor[:locations].first[:country].downcase}.png", alt: "#{country_name(distributor[:locations].first[:country])} flag", title: "#{country_name(distributor[:locations].first[:country])} flag" %>
      <div style="margin-top:10px;">
        <%=raw get_list_html(distributor, "emails", "email") %>
        <%=raw get_list_html(distributor, "phones", "phone") %>
        <%=raw get_list_html(distributor, "websites", "url") %>
      </div>
        <% distributor[:locations].each do |location| %>
          <div style="margin-top:10px;">
            <div><strong><%= location[:name]%></strong></div>
            <div><%=raw address_html(location)%></div>
            <div><%=raw get_list_html(location, "phones", "phone") %></div>
            <div><%=raw get_list_html(location, "emails", "email") %></div>
            <div><%=raw get_list_html(location, "websites", "url") %></div>
            <div style="margin-top:10px;"><strong>Supported Countries:</strong>
              <% location[:supported_countries].each do |supported_country| %>
                <%=image_tag "https://flagcdn.com/24x18/#{supported_country[:alpha2].downcase}.png", alt: "#{country_name(supported_country[:alpha2])} flag", title: "#{country_name(supported_country[:alpha2])} flag" %>
              <% end %>
            </div>
            <div style="margin-top:10px;"><strong>Supported Brands:</strong> <%= (location[:supported_brands].pluck(:name)-["HARMAN Professional Solutions"]).sort_by(&:downcase).join(", ")%></div>

            <% if location[:contacts].present?%>
              <div style="margin-top:10px;margin-bottom:30px;">
                <% location[:contacts].each do |contact| %>
                  <div style="margin-top:10px;">
                    <i class='fas fa-user-circle' aria-hidden='true'></i>&nbsp;<strong><%= contact[:name]%></strong><br />
                    <% if contact[:title].present? %>
                      <%= contact[:title]%><br />
                    <% end %>

                    <%=raw get_list_html(contact, "phones", "phone") %>
                    <%=raw get_list_html(contact, "emails", "email") %>
                    <%=raw get_list_html(contact, "websites", "url") %>
                  </div>
                <% end %> <%# location[:contacts].each do |contact| %>
              </div>
            <% end %>
          </div>
        <% end %> <%# distributor[:locations].each do |location| %>

        </li>
  <% end %> <%# if !distributor[:locations].empty? %>
<%end%> <%# @distributors_json.each do |d| %>
</ul>
</div>
