<li>
  <div class="result-type-header"><strong><%= category_name("consultantcontacts")%></strong>: <span class="result-item-number"><%=current_item_number(@results, count)%></span></div>
  
  <%= link_to category_name("consultantcontacts"), consultants_path, class:"result-item-title-link" %>
  
    <!-- item image link  -->
    <% image = Resource.find_by(name:"Consultants - thumb square")%>
    <% if image.present? %>
      <%= link_to image_tag(image.attachment.url), consultants_path, class:"result-item-image-link" %>
    <%end%>  
    
  <% description = truncate(strip_html(raw textilize SiteSetting.value("consultant-portal-welcome-paragraph")).lstrip, length: 200) %>
  <%= description %>
</li>