<li>
    <div class="result-type-header"><strong><%= category_name(result.class.name)%></strong>: <span class="result-item-number"><%=current_item_number(@results, count)%></span></div>
    
    <!-- item title link without translation -->
    <%= link_to result.link_name, page_link(result), class:"result-item-title-link" %>
    
    <!-- item image link  -->
    <% image = get_result_image(result)%>
    <% if image.present? %>
      <%= link_to image_tag(image), page_link(result), class:"result-item-image-link" %>
    <%end%>
    
    <!-- item description without translation -->
    <% if result.content_preview && !result.content_preview.blank? %>
      <%= truncate(strip_html(result.content_preview).lstrip, length: 200) %><br />
    <% end %>
</li>