<h1>Search Results</h1>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <% if @results.length > 0 %>
    <div id="search_results_count_message"><%=@results.total_count%> results found, showing <%= results_item_count_range_for_page(@results) %> for: <strong><%=@query%></strong></div>
      <%= paginate @results %>
      <ul id="search_results" class="large-block-grid-3">
        <%count = 1%>
        <% @results.each do |result| %>
          <% # this is for consultants page %>
          <% if result.class.name == "SiteSetting" %>
            <%= render "result_consultant", count: count %>
          <% else %>
              <%= render "result_normal", result: result, count: count %>
          <% end %>
          <%count += 1%>
        <% end %>
      </ul>
      <%= paginate @results %>
    <% else %>
      <p><i>No results found.</i></p>
    <% end %>
  </div>
</div>
