<h1>Search Results</h1>

<div class="row">
  <div class="large-8 medium-10 small-12 columns">
    <% if @results.length > 0 %>
      <%= paginate @results %>
      <ul id="search_results">
        <% @results.each do |result| %>
          <% next if result.respond_to?(:live?) && !result.live? %>
          <li><%= link_to result.link_name, page_link(result) %><br/>
            <% if result.content_preview && !result.content_preview.blank? %>
              <%= truncate(strip_html(result.content_preview), length: 200) %><br/>
            <% end %>
            <span class="search_link">
              <%= link_to page_link(result), page_link(result) %>
            </span>
          </li>
        <% end %>
      </ul>
      <%= paginate @results %>
    <% else %>
      <p><i>No results found.</i></p>
    <% end %>
  </div>
</div>
