<div class="container">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <br/>
      <% if vertical_market.show_hef? %>
        <div class="row">
          <div class="small-12 columns">
            <%= render "vertical_markets/hef" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container plan-container" data-magellan-destination="plan">

  <a name="plan"></a>

  <div class="row">
    <div class="large-8 large-offset-2 columns">

      <% if vertical_market.retail? %>

        <%# TODO: enable caching once changes calm down %>
        <%#= cache ["vertical-retail-plan", Date.today, current_locale] do %>
          <div class="row">
            <div class="large-12 columns">
              <h3><%= SiteSetting.value("retail-plan-section-subheader") %></h3>
              <div class="space-after">
                <%=raw textilize SiteSetting.value("retail-plan-section-paragraph") %>
              </div>
            </div>
          </div>
          <%# end %>

        <% else %>

          <div class="row">
            <div class="small-12 columns">
              <% if vertical_market.parent %>
                <%= cache ["parent-vertical-content", vertical_market.parent, Date.today, current_locale] do %>
                  <h3><%= vertical_market.parent.headline %></h3>
                  <div class="description parent">
                    <%= raw textilize vertical_market.parent.description %>
                  </div>
                <% end %>
              <% end %>

              <%= render "vertical_markets/find_installer" %>
            </div>

          </div>

        <% end %>

    </div>
  </div>

</div>
