<%= link_to "Region List", location_info_admin_regions_path, class: "small success radius button" %>
<h1>Edit Region</h1>

<%= simple_form_for @region, url: location_info_admin_region_path do |f| %>
<%= f.input :name %>


<%= f.submit class: "radius button" %>
<% end %>

<div class="row">
  <%= render 'locations' %>
</div>  <!-- <div class="row">  -->