<h2><%= @channel.name %> Channel</h2>
<p><%= link_to "<< back to channel management", emea_admin_channel_country_managers_path %></p>

<h5>Countries/Managers</h5>
<div class="row">
  <div class="medium-6 small-12 columns">
    <ul>
      <% @channel.channel_country_managers.each do |ccm| %>
        <li><%= link_to edit_emea_admin_channel_country_manager_path(ccm) do %>
              <%= ccm.channel_country.name %> /
              <% if ccm.channel_manager.present? %>
                <%= ccm.channel_manager.name %>
              <% else %>
                [no manager]
              <% end %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="medium-6 small-12 columns">
    <div class="panel">
      <h4>New Country/Manager</h4>
      <%= simple_form_for [:emea, :admin, @channel_country_manager] do |f| %>
        <%= f.input :created_from, as: :hidden %>
        <%= f.association :channel %>
        <%= f.association :channel_country %>
        <%= f.association :channel_manager %>
        <%= f.button :submit, "Assign Country/Manager" %>
      <% end %>
      <p class="hint">If the country or manager don't appear, make sure to
      <%= link_to "create them first", emea_admin_channel_country_managers_path %>.</p>
    </div>

    <div class="callout panel">
      <h4>Update Channel</h4>
      <%= simple_form_for [:emea, :admin, @channel] do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, "Save Changes" %>
      <% end %>
    </div>

    <div class="text-right">
      <%= link_to "Delete #{ @channel.name }",
        [:emea, :admin, @channel],
        method: :delete,
        class: "tiny radius alert button",
        data: { confirm: "Are you sure? This will completely remove the #{ @channel.name } channel." } %>
    </div>
  </div>
</div>
