<!-- Phones -->
	<div class="small-12 medium-6 columns" id="Phones">
        <div class="group">
          <h4>Phones</h4>
          <p>Choose one or more phone below. Doing so will associate this phone with the distributor.</p>

          <%= simple_form_for [@distributor_phone], url: distributor_info_admin_distributor_phones_path, remote: true do |f| %>
            <%= f.hidden_field :distributor_info_distributor_id %>
            <%= hidden_field_tag :called_from, "distributor" %>
            <%= f.association :phone, 
            collection: ContactInfo::Phone.not_associated_with_this_distributor(@distributor_phone.distributor).order(:phone),
            label: false,
            label_method: -> (phone) { phone.label.present? ? "#{phone.phone} (#{phone.label})" : "#{phone.phone}" },
            input_html: { class: 'chosen-select', multiple: true,  data: { placeholder: 'Select phones'} }%>
            <%= f.submit "add phone", class: "small round button", style:"margin-top:10px;" %>
          <% end %>
					
					<strong>Current phones</strong>
          <ul id="distributor_phones" class="sortable_list">
            <% @distributor_phones.order(:position).each do |association| %>
              <%= render "/distributor_info/admin/distributor_phones/distributor_phone_row", association: association, called_from: "distributor" %>
            <% end %>
          </ul>
          
          <p>
          	Can't find the phone in the list above? <%= link_to "Create a new phone", new_contact_info_admin_phone_path(phone: {distributor_id: "#{@distributor.id}"}) %>.
          </p>          
          
          <p>Go to: <%= link_to "Phone List", contact_info_admin_emails_path %></p>
          <a href="#">Go to top</a>
        </div>
        
  </div> 