<h1 id="distributors_admin_heading">Distributors</h1>

<ul class="button-group round">
	<li><%= link_to 'New Distributor', new_distributor_info_admin_distributor_path, class: "small success button" %></li>
</ul>

<div class="row" style="margin-bottom: 30px;">
  <div class="small-12 medium-6 large-3 columns">
      <%= select_tag "distributor-select", 
      options_from_collection_for_select(DistributorInfo::Distributor.all.sort_by(&:name), 'id', 'name', @distributor_id), 
      prompt: "Filter by Distributor Name",
      class: 'chosen-select'
      %>  
  </div>    
  <div class="small-12 medium-6 large-3 columns">
      <%= select_tag "country-select", 
      options_from_collection_for_select(LocationInfo::Country.all.sort_by(&:harman_name), 'id', 'harman_name', @country_id), 
      prompt: "Filter by Country",
      class: 'chosen-select'
      %>  
  </div>   
  <div class="small-12 medium-6 large-3 columns">
      <%= select_tag "brand-select", 
      options_from_collection_for_select(Brand.all.sort_by(&:name), 'id', 'name', @brand_id), 
      prompt: "Filter by Brand",
      class: 'chosen-select'
      %>  
  </div>   
  
  <div class="small-12 medium-6 large-3 columns">
    <strong><%=link_to "Show All", distributor_info_admin_distributors_path(show_all:1) %></strong>
  </div>   
  
</div>

<% if @distributors %>
  <div style="margin-bottom:30px;"><%= raw @results_message%></div>
<% else %>
  <div style="margin-bottom:30px;"><strong>Use one of the filters above to see the Distributors list.</strong></div>
<% end %>

<table class="data">
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Account Number</th>
    <th>Supported Countries</th>
    <th>Supported Brands</th>
    <th>Exclusions</th>
    <th>Locations</th>
  </tr>

<% if @distributors %>
<% @distributors.each do |distributor| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_distributor_info_admin_distributor_path(distributor), class: "small round button" %></td>
    <td><%= distributor.name %></td>
    <td><%= distributor.account_number %></td>
    <td>
      <ul>
        <% distributor.countries.order(:name).each do |country|%>
          <li><%= link_to country.harman_name, edit_location_info_admin_country_path(country) %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% distributor.brands.order(:name).each do |brand|%>
          <li><%= brand.name %></li>
        <% end %>
      </ul>
    </td>    
    <td>
      <ul>
        <% distributor.distributor_brand_country_exclusion_association.each do |exclusion|%>
          <li><%= exclusion.brand.name %> - <%= exclusion.country.harman_name %></li>
        <% end %>
      </ul>
    </td>     
    
    <td>
      <ul>
      <% distributor.locations.each do |location| %>
        <li><%=link_to location.name, edit_location_info_admin_location_path(location) %> - <span style="font-size:x-small"><%= location.city %></span></li>
        <table>
          <tr>
            <th>Supported Countries</th>
            <th>Supported Brands</th>
            <th>Exclusions</th>
            <th>Contacts</th>
            <th>Emails</th>
            <th>Phones</th>
            <th>Websites</th>
          </tr>
          <tr>
            <!-- supported countries  -->
            <td style="vertical-align: top;">
                <% if location.supported_countries.present? %>
                  <ul>
                    <% location.supported_countries.order(:name).each do |country| %>
                      <li><%= link_to country.harman_name, edit_location_info_admin_country_path(country) %></li>
                    <% end %>
                  </ul>
                <% end  # if location.supported_countries.present?%>              
            </td>
            <!-- supported brands  -->
            <td style="vertical-align: top;">
              <% if location.supported_brands.present? %>
                <ul>
                  <% location.supported_brands.order(:name).each do |brand| %>
                    <li><%=brand.name%></li>
                  <% end %>
                </ul>
              <% end  # if location.supported_countries.present?%>              
            </td>   
            <!-- exclusions  -->
            <td style="vertical-align: top;">
              <% if location.location_brand_country_exclusion_association.present? %>
                <ul>
                  <% location.location_brand_country_exclusion_association.each do |exclusion| %>
                    <li><%=exclusion.brand.name%> - <%=exclusion.country.harman_name%></li>
                  <% end %>
                </ul>
              <% end  # if location.location_brand_country_exclusion_association.present?%>              
            </td>            
            <!-- contacts  -->
            <td style="vertical-align: top;">
              <% if location.contacts.present? %>
                <ul>
                  <% location.contacts.order(:name).each do |contact| %>
                    <li><%= link_to contact.name, edit_contact_info_admin_contact_path(contact) %> <span style="font-size:x-small"> - <%= contact.title %></span></li>
                  <% end %>
                </ul>
              <% end  # if location.contacts.present?%>              
            </td>
            <!-- emails  -->
            <td style="vertical-align: top;">
              <% if location.emails.present? %>
                <ul>
                  <% location.emails.each do |email| %>
                    <li><%= link_to email.email, edit_contact_info_admin_email_path(email) %></li>
                  <% end %>
                </ul>
              <% end  # if location.email.present?%>              
            </td>
            <!-- phones  -->
            <td style="vertical-align: top;">
              <% if location.phones.present? %>
                <ul>
                  <% location.phones.each do |phone| %>
                    <li><%= link_to phone.phone, edit_contact_info_admin_phone_path(phone) %></li>
                  <% end %>
                </ul>
              <% end  # if location.phone.present?%>              
            </td>
            <!-- websites  -->
            <td style="vertical-align: top;">
              <% if location.websites.present? %>
                <ul>
                  <% location.websites.each do |website| %>
                    <li><%= link_to website.url, edit_contact_info_admin_website_path(website) %></li>
                  <% end %>
                </ul>
              <% end  # if location.website.present?%>              
            </td>
          </tr>
        </table>
      <% end  # distributor.locations.each do |location| %>
      </ul>
    </td>    
  </tr>
<% end %>  <%# @distributors.each do |distributor| %>
<% end %>  <%# if @distributors %>
</table>