<% called_from ||= 'contact' %>
<li id="contact_supported_brand_<%= association.id %>">
	<% if (called_from == 'supported_brand') %><span class="handle"><%= image_tag("icons/drag_handle.gif") %></span><% end %>

	<% if (called_from == 'contact') %> 
		<%#= link_to("#{association.brand.name}", edit_contact_info_admin_brand_path(association.brand)) %>
		<%= association.brand.name %>
	<%else%>
		<%=link_to("#{association.contact.name}", edit_contact_info_admin_contact_path(association.contact))%> <span style="font-size: x-small"> - <%="#{association.contact.city}" %></span> 
	<%end%>

	<%= link_to(image_tag("icons/trash.gif"), 
			contact_info_admin_contact_supported_brand_path(association, called_from: called_from), 
			confirm: "Are you sure? (This won't delete the supported_brand --it will only remove the association.)", 
			remote: true,
			method: :delete) %>
</li>