<%= content_for :title do %><%= t('contacts_page.title') %><% end %>
<%= content_for :description do %>
  <%= t('contacts_page.meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>
<% end %>

<%= render 'shared/page_banner', alt_text: "Brand Contacts" %>

<div class="row" style="margin-top:10px;">
    <div class="large-2 columns">
        <%= link_to contacts_path, class: "small radius button" do %>
            <%= fa_icon "home", "aria-hidden": true %>
            Contacts
        <% end %>
    </div>
</div>    

<div class="container main-container ">
  <div class="row">
    <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns" data-equalizer="brands">
      <p class="text-center"><i><%= t('contacts_page.click_to_contact') %>:</i></p>
      <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
        <% all_brands.each do |brand| %>
          <% if brand.support_url.present? %>
            <li>
              <%= link_to brand.support_url, target: "_blank" do %>
                <div class="panel text-center" data-equalizer-watch="brands">
                  <div class="brand-logo">
                    <% if brand.logo.present? || ENV['show_placeholders'] == "true" %>
                      <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
                    <% end %>
                  </div>
                  <p><%= t('contacts_page.brand_support', brand: brand.name) %></p>
                </div>
              <% end %>
            </li>
          <% elsif brand.url.present? %>
            <li>
              <%= link_to brand.url, target: "_blank" do %>
                <div class="panel text-center" data-equalizer-watch="brands">
                  <div class="brand-logo">
                    <% if brand.logo.present? || ENV['show_placeholders'] == "true" %>
                      <p><%= image_tag brand.logo.url(:medium), alt: brand.name %></p>
                    <% end %>
                  </div>
                  <p><%= t('contacts_page.brand_info', brand: brand.name) %></p>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
