<%= render 'shared/page_banner', alt_text: "Contact Us" %>
<div style="margin-top:1em; margin-bottom:1em;"><%=SiteSetting.value("hero-copy-contacts")%></div>

<div class="row"
    style="text-align: center; padding-top: 80px; margin-bottom: 80px; margin-left: 0; margin-right: 0;">
    <div class="medium-4 small-12 columns" style="padding-bottom: 50px;"><a href="/contacts/solutions"><%=image_tag("ContactUsPage_Icons_BuyAHarmanSolution.svg", class: "contact-cirles", alt: "Buy A Harman Solution", lazy: false)%></a>
        <a href="/contacts/solutions" class="small radius button" style="margin-top:2em;background-color:#1e3b6e;">BUY A HARMAN SOLUTION</a>
    </div>
    <div class="medium-4 small-12 columns" style="padding-bottom: 50px;"><a
            href="/contacts/brands"><%=image_tag("ContactUsPage_Icons_ContactOurBrands.svg", class: "contact-cirles", alt: "Contact Our Brands", lazy: false)%></a>
        <a href="/contacts/brands" class="small radius button" style="margin-top:2em;background-color:#1e3b6e;">CONTACT OUR BRANDS</a>
    </div>
    <div class="medium-4 small-12 columns" style="padding-bottom: 50px;"><a href="/contacts/channel"><%=image_tag("ContactUsPage_Icons_RegionalChannelSales.svg", class: "contact-cirles", alt: "Regional Channel Sales", lazy: false)%></a>
        <a href="/contacts/channel" class="small radius button" style="margin-top:2em;background-color:#1e3b6e;">REGIONAL CHANNEL SALES</a>
    </div>
</div>