
<a href="/contacts">
    <!--<img src="https://hpro-with-contacts-sweetcleancode.c9users.io/system/landing_pages/banners/102_1517242055/contact_header_original_original.jpg" alt="Contact header original original">-->
  <% if @landing_page.banner.present? %>
    <%= image_tag @landing_page.banner.url %>
  <% end %>    
</a>

<h1 style="margin-bottom:20px;"><%=@contactType%> for <%=@pageTitle%></h1>

<!--<% @contacts[:unique_groups].sort.each do |group| %>-->
<!--    <p><%=group%></p>-->
<!--<% end %>-->

<div class="row">
    <div class="large-12 large-offset-0 medium-8 medium-offset-2 columns" data-equalizer="contactbox">
        <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
        
            <% @contacts[:contacts].each do |contact|%>
            <li>
                <div class="panel" data-equalizer-watch="contactbox">
                    <em><%=contact["name"]%></em></br>
                    <%=contact["title"]%></br>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; <a href="mailto:<%=contact["email"]%>"><%=contact["email"]%></a></br>
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<%=contact["phone1"]%></br>
                    <!--<b>Groups:</b> <%=([contact["group1"].to_s,contact["group2"].to_s,contact["group3"].to_s] - ["", nil]).join("</br>").html_safe%>                    -->
                </div>

            </li>
            <% end %>
        </ul><!-- <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1"> -->
    </div><!-- <div class="large-12 large-offset-0 medium-8 medium-offset-2 columns" data-equalizer="contact-box">  -->
</div><!-- <div class="row"> -->

<!--<%=@contacts%>-->