<h1>Territories</h1>

<ul class="button-group round">
	<li><%= link_to 'Contact List', contact_info_admin_contacts_path, class: "small button round" %>	</li>
	<li><%= link_to 'New Territory', new_contact_info_admin_territory_path, class: "small success button" %></li>
</ul>

<% if @territories %>
<div style="margin-bottom:30px;">Showing <strong><%= @territories.count%> Territories</strong></div>
<% end %>

<table class="data">
  <tr>
  	<th></th>
    <th>Name</th>
    <th>Associated Contacts</th>
  </tr>

<% @territories.each do |territory| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_contact_info_admin_territory_path(territory), class: "small round button" %></td>
    <td><%= territory.name %></td>
    <td>
      <ul>
        <% territory.contacts.order(:position).each do |contact|%>
          <li><%= link_to "#{contact.name}", edit_contact_info_admin_contact_path(contact) %> - <span style='font-size: x-small;'><%="#{contact.title}"%></span></li>
        <%end%>
      </ul>      
    </td>
  </tr>
<% end %>
</table>