<%= link_to 'Territories List', contact_info_admin_territories_path, class: "small button round" %>

<h1>New Territory</h1>

<%if @contact.present?%>
<p>This new territory will be associated with <%=link_to "#{@contact.name} - #{@contact.title}", edit_contact_info_admin_contact_path(@contact)%>. (You can change this later)<br />
Or if you want to create the territory without associating it to a contact? <%= link_to "Click to here create new territory without association.", new_contact_info_admin_territory_path %>
</p>
<%end%>

<%= simple_form_for @territory, url: contact_info_admin_territories_path do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.hidden_field :contact_id, value: "#{params[:territory][:contact_id]}" unless params[:territory].nil? %>

    </br>
  <%= f.button :submit %>
<% end # simple_form_for @territory, url: contact_info_admin_territories_path do |f|%>
