<div class="bumped-up" style="margin-bottom:1em;">
  <div class="banner-container">
    <% if @banner.present? %>
      <% if @banner.html.present? %>
        <%=raw @banner.html.gsub!(/~this_resource~/, @banner.attachment.url) %>
      <% else %>
        <h1><%= image_tag @banner.attachment.url, alt: t('nav.case_studies').titleize %></h1>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-9 columns">
    <div class="case-studies">
      <% @case_studies.each do |case_study| %>
        <%= render case_study %>
      <% end %>
    </div>
    <%= will_paginate @case_studies, renderer: WillPaginateInfinite::InfinitePagination %>
  </div>

  <div class="medium-3 columns">
    <% if @asset_type_case_study_counts[:pdf] > 0 || @asset_type_case_study_counts[:video] > 0 %>
      <div class="callout panel">
      <h5>Case Studies with Assets</h5>
      <ul>
        <% if @asset_type_case_study_counts[:pdf] > 0 %>
          <li>
            <% if @asset_type && @asset_type == "pdf" %>
              <i class="far fa-file-pdf"></i> <em style="color: #888">PDF (<%=@asset_type_case_study_counts[:pdf]%>)</em>
            <% else %>
              <i class="far fa-file-pdf"></i> <%= link_to "PDF (#{@asset_type_case_study_counts[:pdf]})", case_studies_by_asset_type_path("pdf",@vertical_market.nil? ? "all" : @vertical_market)%>
            <% end  %>
          </li>
        <% end %>

        <% if @asset_type_case_study_counts[:video] > 0 %>
          <li>
            <% if @asset_type && @asset_type == "video" %>
              <i class="fas fa-video"></i> <em style="color: #888">Video (<%=@asset_type_case_study_counts[:video]%>)</em>
            <% else %>
              <i class="fas fa-video"></i> <%= link_to "Video (#{@asset_type_case_study_counts[:video]})", case_studies_by_asset_type_path("video",@vertical_market.nil? ? "all" : @vertical_market)%>
            <% end %>
          </li>
        <% end %>

        <% if @asset_type %>
          <li><%= link_to case_studies_path do %>
            <%= t('all').titleize %> <%= t('case_study').pluralize.titleize %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="callout panel">
      <h5>Case Studies by Application</h5>

      <ul>
        <% vertical_markets_with_case_studies.each do |v| %>
          <li>
            <% if @vertical_market && @vertical_market == v %>
              <em style="color: #888"><%= v.name %> (<%= v.case_studies.size %>)</em>
            <% else %>
              <%= link_to vertical_market_case_studies_path(v) do %>
                <%= v.name %> (<%= v.case_studies.size %>)
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @vertical_market %>
        <%= link_to case_studies_path do %>
          <%= t('all').titleize %> <%= t('case_study').pluralize.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
