<%= content_for :title do %><%= truncate @case_study.headline, length: 40 %><% end %>
<%= content_for :description do %><%= t('case_study') %>: <%= @case_study.headline %><% end %>

<% if @case_study.youtube_id.present?%>
	<div class="flex-video widescreen">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@case_study.youtube_id%>?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
	</div>
<% elsif @case_study.banner.present? || ENV['show_placeholders'] == "true" %>
  <div class="bumped-up space-after">
    <div class="banner-container vertical-market">
      <%= image_tag @case_study.banner.url(:large), alt: "#{@case_study.headline} Banner" %>
    </div>
  </div>
<% end %>

<div class="container main-container">
  <div class="row">
    <div class="large-7 large-offset-1 columns">
      <h1><%= @case_study.headline %></h1>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="large-7 large-offset-1 columns">

      <%=raw textilize @case_study.content %>

      <% video_only = @case_study.youtube_id.present? && (!@case_study.content.present? && !@case_study.pdf_external_url.present? && !@case_study.pdf.present?) %>
      <%if video_only %>
         <%= render 'similar_project_callout_panel' %>
      <% end %>

    </div><!-- <div class="large-7 large-offset-1 columns">  -->
    <div class="large-3 medium-12 small-12 end columns">
      <% if @case_study.pdf_external_url.present? %>
        <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
            <%= link_to @case_study.pdf_external_url do %>
              <%= image_tag "pdf-icon.png", alt: "PDF" %>
            <% end %>
            <p>&nbsp;</p>
          </div>
        </div>
      <% end %>

      <% if @case_study.pdf.present? %>
        <div class="row">
          <div class="medium-8 medium-offset-2 columns text-center">
            <%= link_to @case_study.pdf.url do %>
              <%= image_tag "pdf-icon.png", alt: "PDF", lazy: false %>
            <% end %>
            <p>&nbsp;</p>
          </div>
        </div>
      <% end %>

      <% if @case_study.pdf_external_url.present? || @case_study.pdf.present? %>
        <%= render 'similar_project_callout_panel' %>
      <% end %>

    </div><!-- <div class="large-3 medium-12 small-12 end columns">  -->
  </div><!-- <div class="row">  -->

</div><!-- <div class="container main-container">  -->
