<p>&nbsp;</p>
<h1 class="text-center">TSE Directory Admin</h1>

<div class="row">
  <div class="medium-4 medium-offset-4 columns">
    <div class="callout panel">
      <ul>
        <li><%= link_to "Navigation Categories", tse_admin_tse_categories_path %></li>
        <li><%= link_to "Technologies", tse_admin_tse_technologies_path %></li>
        <li><%= link_to "Regions", tse_admin_tse_regions_path %></li>
        <li><%= link_to "Domains", tse_admin_tse_domains_path %></li>
        <li><%= link_to "Contacts", tse_admin_tse_contacts_path %></li>
      </ul>
    </div>
  </div>
</div>
