<p>Hello, the following person has requested access to the DAM:</p>

<p>
First Name: <%= @media_library_access_request.first_name %><br/>
Last Name: <%= @media_library_access_request.last_name %><br/>
Email: <%= @media_library_access_request.email %><br/>
Company: <%= @media_library_access_request.company %><br/>
Job title: <%= @media_library_access_request.job_title %><br/>
Relationship: <%= @media_library_access_request.relationship %>
<% if @media_library_access_request.other_relationship.present? %>
  <br/>Other relationship: <%= @media_library_access_request.other_relationship %>
<% end %>
</p>

<% if @media_library_access_request.employee_office.present? %>
<p>HARMAN Employee office:<br/>
<%= @media_library_access_request.employee_office %>
</p>
<% end %>

<% if @media_library_access_request.region.present? %>
<p>Location:<br/>
<%= @media_library_access_request.region %>
</p>
<% end %>

<p>Why are you requesting access to the HARMAN Professional Media Library?</p>
<div><%= @media_library_access_request.reason_for_request %></div>

<p>What specific marketing materials are you looking for in the Media Library?</p>
<div><%= @media_library_access_request.what_assets %></div>


