<h1>Team/Groups</h1>

<ul class="button-group round">
	<li><%= link_to 'Contact List', contact_info_admin_contacts_path, class: "small button round" %>	</li>
	<li><%= link_to 'New Team/Group', new_contact_info_admin_team_group_path, class: "small success button" %></li>
</ul>

<table class="data">
  <tr>
  	<th></th>
    <th>Team/Group</th>
    <th>Associated Contacts</th>
  </tr>

<% @team_groups.each do |team_group| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_contact_info_admin_team_group_path(team_group), class: "small round button" %></td>
    <td><%= team_group.name %></td>
    <td>
      <ul>
        <% team_group.contacts.order(:name).each do |contact|%>
          <li><%= link_to "#{contact.name}", edit_contact_info_admin_contact_path(contact) %> - <span style='font-size: x-small;'><%="#{contact.title}"%></span></li>
        <%end%>
      </ul>
    </td>
  </tr>
<% end %>
</table>