<div class="row">
  <div class="small-12 columns">
    <div id="footer">
      <div class="row">
        <div class="small-12 columns text-right">
          <%= link_to t('nav.new_products'), new_products_path %>
          <%= link_to t('nav.service'), service_path %>
          <%= link_to t('nav.contact_us'), contacts_path %>
          <%= link_to t('nav.training'), "/training" %>
          <%= link_to t('nav.newsletter'), "/lp/sign-up" %>

          <div class="social-links">
            <%= link_to "/facebook" do %>
              <%= fa_icon 'facebook 2x' %>
            <% end %>
            <%= link_to "/twitter" do %>
              <%= fa_icon 'twitter 2x' %>
            <% end %>
            <%= link_to "/linkedin" do %>
              <%= fa_icon 'linkedin 2x' %>
            <% end %>
            <%= link_to "/youtube" do %>
              <%= fa_icon 'youtube 2x' %>
            <% end %>
            <%= link_to "/pinterest" do %>
              <%= fa_icon 'pinterest 2x' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns sub-footer">
          <p>
            &copy; <%= Date.today.year %> HARMAN International.
            <%= t('all_rights_reserved') %>.
            <%= link_to t('privacy_policy'), "https://www.harman.com/privacy-policy" %>
            |
            <%= link_to t('cookies'), "https://www.harman.com/cookies-statement" %>
            |
            <%= link_to t('terms_of_use'), "https://www.harman.com/terms-use" %>
            <br/>
            <span class="small">
              If you are using a screen reader and are having problems using this website,
              please call (800) 645-7484 for assistance.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= yield :footer_code %>
