<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,200' rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500' rel="stylesheet"/>

    <%# Acoustic tracking %>
    <% if Rails.env.production? %>
      <meta name="com.goacoustic.brandeddomains" content="www.pages08.net,akg.com,amx.com,bssaudio.com,crownaudio.com,dbxpro.com,digitech.com,jblpro.com,lexiconpro.com,martin.com,pro.harman.com,soundcraft.com,studer.ch" />
      <meta name="com.goacoustic.cothost" content="campaign-ca-1.goacoustic.com" />
      <script src="https://www.sc.pages08.net/lp/static/js/iMAWebCookie.js?4724915e-155c1210684-6681ada67421f5d3ed5e65517ed2e77a&h=www.pages08.net" type="text/javascript"></script>
    <% end %>
    <meta name="theme-color" content="#008CBA">

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/eoa1xwm.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "header" %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
      <%= javascript_include_tag "angular/angular" %>
    <!--<![endif]-->
    <%= csrf_meta_tags %>
    <%= yield :header_code %>
  </head>

  <body>
    <% unless Rails.env.production? %>
      <div class="text-center" style="background: yellow; padding: 3px">
        Hi. Welcome to the pro.harman.com <%= Rails.env.to_s %> environment.
      </div>
    <% end %>

    <div class="row logo-container hide-for-small">
      <div class="medium-12 columns">
        <div class="row">

          <div class="medium-9 small-7 columns">
            <h1 class="logo">
              <a href="http://www.harman.com"><%= image_tag "logo.png", alt: t('logo_alt_text'), id: "logo", lazy: false %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </div>

          <div class="large-2 medium-3 small-5 columns text-right">
            <% if active_locales.count > 1 %>
              <br/>
              <div class="row collapse prefix" style="border: none">

                <div class="small-2 columns">
                  <span class="prefix"><%= fa_icon :flag, "aria-hidden": true %></span>
                </div>

                <div class="small-10 columns">
                  <%= select_tag :locale,
                    options_from_collection_for_select(active_locales, "key", "name", current_locale.key),
                    id: "locale-switcher" %>
                  <% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
                    <div class="text-right">
                      <%= link_to SiteSetting.value("store_link"), target: "_blank", class: "small radius button" do %>
                        <%= fa_icon "shopping-cart", "aria-hidden": true %>
                        <%= t('nav.shop') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

              </div>

            <% else %>
              &nbsp;
            <% end %>

            <% if AvailableLocale.live.include?(I18n.locale) %>

              <br/>
              <%= link_to '#', class: "large searchbutton", :'data-reveal-id' => "searchform" do %>
                <i class="fa fa-search" title="<%= t :search %>"></i>
              <% end %>

            <% end %>

          </div>

        </div>
        <hr/>

      </div>
    </div>

    <div id="searchform" class="reveal-modal" data-reveal aria-labelledby="Search Form" aria-hidden="true" role="dialog">
      <div id="search_form">
        <%= form_tag search_path, method: :get, class: "custom-form popup-search-form" do %>
          <%= text_field_tag :query, @query, placeholder: t(:search).titleize, autofocus: true %>
        <% end %>
      </div>
    </div>

    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">

        <ul class="title-area">
          <li class="name logo-container">
            <h1 class="logo show-for-small">
              <a href="http://www.harman.com"><%= image_tag "logo_sm.png", alt: t('logo_alt_text'), lazy: false %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul>
            <%= cache ["top-nav", Date.today, current_locale] do %>
              <li class="show-for-medium-up">
                <a href="<%= vertical_markets_path %>" class="disabled" data-dropdown="megaMenu" data-options="is_hover:true;" id="megaTrigger"><%= t('nav.solutions') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
              </li>
              <li class="has-dropdown show-for-small-only">
                <%= link_to vertical_markets_path, class: "disabled" do %>
                  <%= t('nav.solutions') %>
                  <%= fa_icon "angle-down", "aria-hidden": true %>
                <% end %>
                <ul class="dropdown">
                  <%= top_vertical_market_navigation(dropdowns: false) %>
                  <li><%= link_to t('nav.browse_all_solutions'), vertical_markets_path %></li>
                </ul>
              </li>
              <li><%= link_to t("nav.case_studies"), case_studies_path %></li>
              <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('nav.resources') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                  <% if current_locale.menu_items.length > 0 %>
                    <% current_locale.menu_items.order(Arel.sql('position')).each do |mi| %>
                      <li><%= link_to mi.title, mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                  <% elsif MenuItem.where(locale_id: nil).count > 0 %>
                    <% MenuItem.where(locale_id: nil).order(Arel.sql('position')).each do |mi| %>
                      <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                  <% else %>
                    <li><%= link_to t('nav.media_library'), SiteSetting.value("media-library-menu-link-location") %></li>
                    <li><%= link_to t('nav.training'), training_path %></li>
                    <li><%= link_to t('nav.consultants'), consultant_portal_path %></li>
                    <li><%= link_to t('nav.contacts'), contacts_path %></li>
                    <li><%= link_to t('nav.news'), news_articles_path %></li>
                    <li><%= link_to t('nav.events'), events_path %></li>
                    <li><%= link_to t('nav.service'), service_path %></li>
                  <% end %>
                </ul>
              </li>
              <li><%= link_to t('nav.new_products'), "/new-products" %></li>
              <% unless I18n.locale == :"zh-CN" %>
                <li><%= link_to t('nav.learning_sessions'), "/lp/learning-sessions" %></li>
              <% end %>
              <li><%= link_to t('nav.contact_us'), contacts_path %></li>
              <% if SiteSetting.set_for_locale?("blog_link_name") && SiteSetting.set_for_locale?("blog_link") %>
                <li>
                  <%= link_to SiteSetting.value("blog_link_name"), SiteSetting.value("blog_link"), target: "_blank" %>
                </li>
              <% end %>
              <% if active_locales.count > 1 %>
                <li class="has-dropdown show-for-small-only">
                  <a href="#" class="disabled"><%= fa_icon :flag, "aria-hidden": true %></a>
                  <ul class="dropdown">
                    <% active_locales.each do |loc| %>
                      <li><%= link_to loc.name, root_path(locale: loc.key) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </section>

      </nav>
    </div>

    <div id="megaMenu" class="mega-menu-container" data-dropdown-content style="display:none;">
      <div class="mega-menu-content">
        <div class="row">

          <ul class="medium-block-grid-4">
            <% active_child_verticals.in_groups(4) do |group| %>
              <li>
                <ul>
                  <% group.each do |item| %>
                    <%= menu_link_for(item) if item.respond_to?(:name) %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>

          <div class="text-right">
            <em><%= link_to t('nav.browse_all_solutions') + " >>", vertical_markets_path %></em>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>

    <%= render 'shared/marketing_tracking' %>

  </body>
</html>
