<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,200' rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500' rel="stylesheet"/>

    <meta name="theme-color" content="#008CBA">

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/eoa1xwm.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "header" %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
      <%= javascript_include_tag "angular/angular" %>
    <!--<![endif]-->
    <%= csrf_meta_tags %>
    <%= yield :header_code %>
  </head>

  <body>
    <div class="row logo-container hide-for-small">
      <div class="medium-12 columns">
        <div class="row">

          <div class="medium-9 small-9 columns">
            <h1 class="logo">
              <a href="/"><%= image_tag "HARMAN_Logo.svg", alt: t('logo_alt_text'), id: "logo", lazy: false %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </div>

          <div class="large-2 medium-3 small-3 columns text-right">
            <% if active_locales.size > 1 %>
              <br/>
              <div class="row collapse prefix" style="border: none">

                <div class="small-2 columns">
                  <span class="prefix"><%= fa_icon :flag, "aria-hidden": true %></span>
                </div>

                <div class="small-10 columns">
                  <%= select_tag :locale,
                    options_from_collection_for_select(active_locales, "key", "name", current_locale.key),
                    id: "locale-switcher" %>
                  <% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
                    <div class="text-right">
                      <%= link_to SiteSetting.value("store_link"), target: "_blank", class: "small radius button" do %>
                        <%= fa_icon "shopping-cart", "aria-hidden": true %>
                        <%= t('nav.shop') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

              </div>

            <% else %>
              &nbsp;
            <% end %>

            <% if AvailableLocale.live.include?(I18n.locale) %>

              <br/>
              <%= link_to '#', class: "large searchbutton", :'data-reveal-id' => "searchform" do %>
                <%= image_tag "search-icon.png", alt: "search", lazy: false %>
              <% end %>

            <% end %>

          </div>

        </div>
        <hr/>

      </div>
    </div>

    <div id="searchform" class="reveal-modal" data-reveal aria-labelledby="Search Form" aria-hidden="true" role="dialog">
      <div id="search_form">
        <%= form_tag search_path, method: :get, class: "custom-form popup-search-form" do %>
          <%= text_field_tag :query, @query, placeholder: t(:search).titleize, autofocus: true %>
          <br/>
          <%= submit_tag 'search', class: "small button" %>
        <% end %>
      </div>
      <div class="show-for-small">
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>

    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">

        <ul class="title-area">
          <li class="name logo-container">
            <h1 class="logo show-for-small">
              <a href="/"><%= image_tag "HARMAN_Logo.svg", alt: t('logo_alt_text'), lazy: false %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </li>
          <li class="toggle-topbar icon">
            <a href="#"><span><i class="fas fa-bars fa-2x" title="menu"></i></span></a>
          </li>
          <li class="show-for-small-only search-button-container">
            <% if AvailableLocale.live.include?(I18n.locale) %>

              <%= link_to '#', class: "medium searchbutton", :'data-reveal-id' => "searchform" do %>
                <%= image_tag "search-icon.png", alt: "search", lazy: false %>
              <% end %>

            <% end %>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul>
            <%= cache ["top-nav", Date.today, current_locale] do %>
              <% # Our Pro Brands %>
              <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('our_pro_brands') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                  <li><%=link_to "JBL Pro", "https://jblpro.com", target: "_blank"%></li>
                  <li><%=link_to "Flux::", "https://www.flux.audio", target: "_blank"%></li>
                  <li><%=link_to "AKG", "https://www.akg.com", target: "_blank"%></li>
                  <li><%=link_to "Martin", "https://www.martin.com", target: "_blank"%></li>
                  <li><%=link_to "AMX", "https://www.amx.com", target: "_blank"%></li>
                  <li><%=link_to "BSS", "https://bssaudio.com", target: "_blank"%></li>
                  <li><%=link_to "Crown", "https://crownaudio.com", target: "_blank"%></li>
                  <li><%=link_to "Soundcraft", "https://www.soundcraft.com", target: "_blank"%></li>
                  <li><%=link_to "dbx", "https://dbxpro.com", target: "_blank"%></li>
                  <li><%=link_to "Lexicon", "https://lexiconpro.com", target: "_blank"%></li>
                </ul>
              </li>

              <% # Solutions (mega menu for large screens) %>
              <li class="show-for-medium-up">
                <a href="<%= vertical_markets_path %>" class="disabled" data-dropdown="megaMenu" data-options="is_hover:true;" id="megaTrigger"><%= t('nav.solutions') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
              </li>

              <% # Solutions (dropdown menu for small screens) %>
              <li class="has-dropdown show-for-small-only">
                <%= link_to vertical_markets_path, class: "disabled" do %>
                  <%= t('nav.solutions') %>
                  <%= fa_icon "angle-down", "aria-hidden": true %>
                <% end %>
                <ul class="dropdown">
                  <%= top_vertical_market_navigation(dropdowns: false) %>
                  <li><%= link_to t('nav.browse_all_solutions'), vertical_markets_path %></li>
                </ul>
              </li>

              <% # Resources %>
              <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('nav.resources') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                    <%
                      combined_resources_menu_items = current_locale.menu_items.where(top_nav_name: 'Resources') + MenuItem.where(locale_id: nil, top_nav_name: 'Resources')

                      # filter out the global item when there is a current locale specific version, matching on title, for example nav.service
                      filtered_resources_menu_items = combined_resources_menu_items.reject do |item|
                        item[:locale_id].nil? && combined_resources_menu_items.any? { |i| i[:title] == item[:title] && i[:locale_id].present? }
                      end
                    %>
                    <% filtered_resources_menu_items.sort_by(&:position).each do |mi| %>
                      <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                </ul>
              </li>

              <% # News %>
              <li class="has-dropdown">
                <a href="/news" class="disabled"><%= t('nav.news') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                    <%
                      combined_news_menu_items = current_locale.menu_items.where(top_nav_name: 'News') + MenuItem.where(locale_id: nil, top_nav_name: 'News')

                      # filter out the global item when there is a current locale specific version, matching on title, for example nav.service
                      filtered_news_menu_items = combined_news_menu_items.reject do |item|
                        item[:locale_id].nil? && combined_news_menu_items.any? { |i| i[:title] == item[:title] && i[:locale_id].present? }
                      end
                    %>
                    <% filtered_news_menu_items.sort_by(&:position).each do |mi| %>
                      <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                </ul>
              </li>

              <% # Training Resources %>
              <li class="has-dropdown">
                <a href="/training" class="disabled" target="_blank"><%= t('nav.training_resources') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                  <%
                    combined_training_menu_items = current_locale.menu_items.where(top_nav_name: 'Training Resources') + MenuItem.where(locale_id: nil, top_nav_name: 'Training Resources')

                    # filter out the global item when there is a current locale specific version, matching on title, for example nav.service
                    filtered_training_menu_items = combined_training_menu_items.reject do |item|
                      item[:locale_id].nil? && combined_training_menu_items.any? { |i| i[:title] == item[:title] && i[:locale_id].present? }
                    end
                  %>
                  <% filtered_training_menu_items.sort_by(&:position).each do |mi| %>
                    <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                  <% end %>
                  <!--<li class="has-dropdown">-->
                  <!--  <a href="#" class="disabled"><%=t('nav.learning_sessions') %></a>-->
                  <!--  <ul class="dropdown">-->
                  <!--    <li><%= link_to 'JBL Pro', "https://www.youtube.com/playlist?list=PL-CsHcheo61mLw5A8IHwDLtZAe8gQbg0l", target: "_blank" %></li>-->
                  <!--    <li><%= link_to 'Martin', "https://www.youtube.com/playlist?list=PLX8PNXe5hN6OGaU9GoRQHUUpS_j-5oHwV", target: "_blank" %></li>-->
                  <!--    <li><%= link_to 'AMX', "https://www.youtube.com/playlist?list=PLKVjXfCF3p8-nCbTLAGjoYa5qCFMFpZlk", target: "_blank" %></li>-->
                  <!--    <li><%= link_to 'AKG', "https://www.youtube.com/playlist?list=PLKwYhk9fsHAL8KEke3qy9HKxhfEg4MLpM", target: "_blank" %></li>-->
                  <!--    <li><%= link_to 'Soundcraft', "https://www.youtube.com/playlist?list=PLvVfpRl80EqIb9y7roXLUiw4Ovy5MWe86", target: "_blank" %></li>-->
                  <!--  </ul>-->
                  <!--</li>-->
                </ul>

              </li>

              <% # Contact Us %>
              <li class="has-dropdown">
                <a href="/contacts" class="disabled"><%= t('nav.contact_us') %> <%= fa_icon "angle-down", "aria-hidden": true %></a>
                <ul class="dropdown">
                    <% combined_contact_menu_items = current_locale.menu_items.where(top_nav_name: 'Contact Us') + MenuItem.where(locale_id: nil, top_nav_name: 'Contact Us')

                      # filter out the global item when there is a current locale specific version, matching on title, for example nav.service
                      filtered_contact_menu_items = combined_contact_menu_items.reject do |item|
                        item[:locale_id].nil? && combined_contact_menu_items.any? { |i| i[:title] == item[:title] && i[:locale_id].present? }
                      end
                    %>
                    <% filtered_contact_menu_items.sort_by(&:position).each do |mi| %>
                      <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                </ul>
              </li>



              <% if active_locales.size > 1 %>
                <li class="has-dropdown show-for-small-only">
                  <a href="#" class="disabled"><%= fa_icon :flag, "aria-hidden": true %></a>
                  <ul class="dropdown">
                    <% active_locales.each do |loc| %>
                      <li><%= link_to loc.name, root_path(locale: loc.key) %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %><%#= cache ["top-nav", Date.today, current_locale] do %>
          </ul>
        </section>

      </nav>
    </div>

    <div id="megaMenu" class="mega-menu-container" data-dropdown-content style="display:none;">
      <div class="mega-menu-content">
        <div class="row">

          <ul class="medium-block-grid-4">
            <% active_child_verticals.in_groups(4) do |group| %>
              <li>
                <ul>
                  <% group.each do |item| %>
                    <%= menu_link_for(item) if item.respond_to?(:name) %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>

          <div class="text-right">
            <em><%= link_to t('nav.browse_all_solutions') + " >>", vertical_markets_path %></em>
          </div>
        </div>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

    <%#= render 'layouts/footer' %>
    <%= render 'layouts/new_footer' %>

    <%= javascript_include_tag "application" %>

    <%= render 'shared/marketing_tracking' %>

  </body>
</html>
