<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />

    <%# Silverpop tracking %>
    <% if Rails.env.production? %>
      <meta name="com.silverpop.brandeddomains" content="www.pages08.net,akg.com,amx.com,bssaudio.com,crownaudio.com,dbxpro.com,digitech.com,jblpro.com,lexiconpro.com,martin.com,pro.harman.com,soundcraft.com,studer.ch" />
      <meta name="com.silverpop.cothost" content="pod8.ibmmarketingcloud.com" />
      <script src="https://www.sc.pages08.net/lp/static/js/iMAWebCookie.js?4724915e-155c1210684-6681ada67421f5d3ed5e65517ed2e77a&h=www.pages08.net" type="text/javascript"></script>
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
      <%= javascript_include_tag "angular/angular" %>
    <!--<![endif]-->
    <%= csrf_meta_tags %>
    <%= yield :header_code %>
  </head>

  <body>
    <% unless Rails.env.production? %>
      <div class="text-center" style="background: yellow; padding: 3px">
        Hi. Welcome to the pro.harman.com <%= Rails.env.to_s %> environment.
      </div>
    <% end %>

    <div class="row logo-container">
      <div class="small-12 columns">
        <div class="row">
          <div class="medium-6 columns">
            <h1 class="logo">
              <a href="http://www.harman.com"><%= image_tag "logo.png", alt: t('logo_alt_text'), id: "logo", class: 'no-resize' %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </div><!-- <div class="medium-6 columns">  -->
          <div class="large-2 medium-3 small-6 columns text-right">
            <% if active_locales.count > 1 %>
              <br/>
              <div class="row collapse prefix" style="border: none">
                <div class="small-2 columns">
                  <span class="prefix"><%= fa_icon :flag %></span>
                </div><!-- <div class="small-2 columns">  -->
                <div class="small-10 columns">
                  <%= select_tag :locale,
                    options_from_collection_for_select(active_locales, "key", "name", current_locale.key),
                    id: "locale-switcher" %>
                </div><!-- <div class="small-10 columns">  -->
              </div><!-- <div class="row collapse prefix" style="border: none">  -->
            <% else %>
              &nbsp;
            <% end %>
          </div><!-- <div class="large-2 medium-3 small-6 columns text-right">  -->
        </div><!-- <div class="row">  -->
        <hr/>
      </div><!-- <div class="small-12 columns">  -->
    </div><!-- <div class="row logo-container">  -->

    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul>
            <%= cache ["top-nav", Date.today, current_locale] do %>
              <li class="has-dropdown show-for-medium-up">
                <a href="#" class="disabled" data-dropdown="megaMenu" data-options="is_hover:true;" id="megaTrigger"><%= t('nav.solutions') %></a>
              </li>
              <%= top_vertical_market_navigation(dropdowns: false, class: "show-for-small-only") %>
              <li class="has-dropdown">
                <a href="#" class="disabled"><%= t('nav.resources') %></a>
                <ul class="dropdown">
                  <% if current_locale.menu_items.length > 0 %>
                    <% current_locale.menu_items.order(:position).each do |mi| %>
                      <li><%= link_to mi.title, mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                  <% elsif MenuItem.where(locale_id: nil).count > 0 %>
                    <% MenuItem.where(locale_id: nil).order(:position).each do |mi| %>
                      <li><%= link_to t(mi.title), mi.link, target: (mi.new_tab?) ? "_blank" : "" %></li>
                    <% end %>
                  <% else %>
                    <li><%= link_to t('nav.media_library'), SiteSetting.value("media-library-menu-link-location") %></li>
                    <li><%= link_to t('nav.training'), training_path %></li>
                    <li><%= link_to t('nav.events'), events_path %></li>
                    <li><%= link_to t('nav.consultants'), consultant_portal_path %></li>
                    <li><%= link_to t('nav.contacts'), contacts_path %></li>
                    <li><%= link_to t('nav.news'), news_articles_path %></li>
                    <li><%= link_to t('nav.service'), service_path %></li>
                  <% end %>
                </ul>
              </li><!-- <li class="has-dropdown"> -->
              <% if SiteSetting.set_for_locale?("blog_link_name") && SiteSetting.set_for_locale?("blog_link") %>
                <li>
                  <%= link_to SiteSetting.value("blog_link_name"), SiteSetting.value("blog_link"), target: "_blank" %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </section><!-- <section class="top-bar-section">  -->
        <section class="top-bar-section">
          <ul class="right">
            <% if SiteSetting.set_for_locale?("store_link", current_locale.key) %>
              <li class="has-form">
                <%= link_to SiteSetting.value("store_link"), target: "_blank", class: "radius button" do %>
                  <%= fa_icon "shopping-cart" %>
                  <%= t('nav.shop') %>
                <% end %>
              </li>
            <% end %>
          </ul><!-- <ul class="right">  -->
        </section><!-- <section class="top-bar-section">  -->
      </nav><!-- <nav class="top-bar" data-topbar role="navigation">  -->
    </div><!-- <div class="contain-to-grid sticky">  -->

    <div id="megaMenu" class="mega-menu-container" data-dropdown-content style="display:none;">
      <div class="mega-menu-content">
        <div class="row">
          <% parent_verticals.map do |vm| %>
            <div class="medium-<%= top_menu_width_for(vm) %> columns <%= 'end' if vm == parent_verticals.last %>">
              <h5><%= link_to vm.name, vm %></h5>
              <ul class="medium-block-grid-<%= vm.children_or_reference_systems.in_groups_of(max_items_in_top_nav_columns).length %>">
                <% vm.children_or_reference_systems.in_groups_of(max_items_in_top_nav_columns) do |group| %>
                  <li>
                    <ul><% group.each do |item| %>
                      <%= menu_link_for(item) if item.respond_to?(:name) %>
                    <% end %></ul>
                  </li>
                <% end %>
              </ul><!-- <ul class="medium-block-grid-<%= vm.children_or_reference_systems.in_groups_of(max_items_in_top_nav_columns).length %>"> -->
            </div><!-- <div class="medium-<%= top_menu_width_for(vm) %> columns <%= 'end' if vm == parent_verticals.last %>">  -->
          <% end %>
        </div><!-- <div class="row">  -->
      </div><!-- <div class="mega-menu-content">  -->
    </div><!-- <div id="megaMenu" class="mega-menu-container" data-dropdown-content style="display:none;">  -->

    <%= render 'layouts/flash_messages' %>

    <!-- begin main row for view template content  -->
    <div class="row">
      <div class="small-12 columns">
        <!-- begin main view template content  -->
        <%= yield %>
        <!-- end main view template content  -->
      </div><!-- <div class="small-12 columns">  -->
    </div><!-- <div class="row">  -->
    <!-- end main row for view template content  -->

    <!-- begin footer row  -->
    <div class="row">
      <div class="small-12 columns">
        <div id="footer">
          <div class="row">
            <% parent_verticals.map do |vm| %>
              <div class="large-<%= footer_menu_width_for(vm) %> medium-<%= top_menu_width_for(vm) %> columns">
                <h6 class="subheader"><%= link_to vm.name, vm %></h6>
                <ul class="medium-block-grid-<%= vm.children_or_reference_systems.in_groups_of(10).length %>">
                  <% vm.children_or_reference_systems.in_groups_of(10) do |group| %>
                    <li>
                      <ul><% group.each do |item| %>
                        <%= menu_link_for(item) if item.respond_to?(:name) %>
                      <% end %></ul>
                    </li>
                  <% end %>
                </ul><!-- <ul class="medium-block-grid-<%= vm.children_or_reference_systems.in_groups_of(10).length %>"> -->
              </div><!-- <div class="large-<%= footer_menu_width_for(vm) %> medium-<%= top_menu_width_for(vm) %> columns">  -->
            <% end %>

            <div class="large-2 medium-6 small-12 columns">
              <%= cache ["footer-col-3", Date.today, current_locale] do %>
                <h6 class="subheader"><%= t('harman_brands') %></h6>
                <ul class="medium-block-grid-2 small-block-grid-2">
                  <% all_brands.in_groups(2) do |group| %>
                    <li>
                      <ul><% group.each do |brand| %>
                        <% if brand.respond_to?(:name) %>
                          <li><%= link_to brand.name, brand %></li>
                        <% end %>
                      <% end %></ul>
                    </li>
                  <% end %>
                </ul><!-- <ul class="medium-block-grid-2 small-block-grid-2"> -->
              <% end %>
            </div><!-- <div class="large-2 medium-6 small-12 columns">  -->
            <div class="large-1 columns hide-for-medium-down">&nbsp;</div>
            <div class="large-3 medium-6 small-12 columns">
              <%= cache ["footer-col-4", Date.today, current_locale] do %>
                <h6 class="subheader"><%= t('connect_with_us') %></h6>
                <iframe src="/newsletter_signup.html" frameborder="0" width="99%" height="100" marginwidth="0" class="iframe-form" seamless="seamless"></iframe>
              <% end %>
              <div class="social-links">
                <%= link_to "https://www.facebook.com/HarmanInt?_rdr=p" do %>
                  <%= fa_icon 'facebook 2x' %>
                <% end %>
                <%= link_to "https://twitter.com/Harman" do %>
                  <%= fa_icon 'twitter 2x' %>
                <% end %>
                <%= link_to "https://www.linkedin.com/company/harman-international" do %>
                  <%= fa_icon 'linkedin 2x' %>
                <% end %>
                <%= link_to "https://www.youtube.com/user/HarmanIntl" do %>
                  <%= fa_icon 'youtube 2x' %>
                <% end %>
                <%= link_to "https://www.pinterest.com/harmanint/" do %>
                  <%= fa_icon 'pinterest 2x' %>
                <% end %>
                <%= link_to "https://plus.google.com/+HarmanIntl/videos" do %>
                  <%= fa_icon 'google-plus 2x' %>
                <% end %>
              </div><!-- <div class="social-links">  -->
            </div><!-- <div class="large-3 medium-6 small-12 columns">  -->
            <div class="small-12 columns sub-footer">
              <p>
                &copy; <%= Date.today.year %> HARMAN International.
                <%= t('all_rights_reserved') %>.
                <%= link_to t('privacy_policy'), "http://www.harman.com/privacy-policy" %>
                |
                <%= link_to t('terms_of_use'), "http://www.harman.com/terms-use" %>
              </p>
            </div><!-- <div class="small-12 columns sub-footer">  -->
          </div><!-- <div class="row">  -->
        </div><!-- <div id="footer">  -->
      </div><!-- <div class="small-12 columns">  -->
    </div><!-- <div class="row">  -->
    <!-- end footer row  -->

    <%= yield :footer_code %>

    <%= javascript_include_tag "application" %>

    <%= render 'shared/marketing_tracking' %>

  </body>
</html>
