<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <meta name="google-site-verification" content="WZ9C3gBAzwP1aubYp-I5aweY5QRDsEOG8zLsYq_U--E" />

    <%# Silverpop tracking %>
    <% if Rails.env.production? %>
      <meta name="com.silverpop.brandeddomains" content="www.pages08.net,akg.com,amx.com,bssaudio.com,crownaudio.com,dbxpro.com,digitech.com,jblpro.com,lexiconpro.com,martin.com,pro.harman.com,soundcraft.com,studer.ch" />
      <meta name="com.silverpop.cothost" content="pod8.ibmmarketingcloud.com" />
      <script src="http://contentz.mkt81.net/lp/static/js/iMAWebCookie.js?4724915e-155c1210684-6681ada67421f5d3ed5e65517ed2e77a&h=www.pages08.net" type="text/javascript"></script>
    <% end %>

    <title><%= content_for?(:title) ? yield(:title) + " | " : '' %> <%= t('site_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <%= csrf_meta_tags %>
    <%= yield :header_code %>
  </head>

  <body>

    <%= render 'layouts/flash_messages' %>

    <%= yield %>

    <%= yield :footer_code %>

    <%= javascript_include_tag "application" %>

    <%= render 'shared/marketing_tracking' %>

  </body>
</html>
