<!DOCTYPE html>
<html lang="en" ng-app="harmanpro">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('default_meta_description', brand_names: all_brands.map{|b| b.name}.join(', ') ) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/harman.ico" />
    <link rel="icon" type="image/x-icon" href="/harman.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,200' rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500' rel="stylesheet"/>

    <title><%= content_for?(:title) ? yield(:title) + " | " : 'EMEA Portal' %> <%= t('site_name') %></title>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/corysimmons-selectivizr2/1.0.9/selectivizr2.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "emea" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "header" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
      <%= javascript_include_tag "angular/angular" %>
    <!--<![endif]-->
    <%= csrf_meta_tags %>
    <style type="text/css" media="all">
        <% EmeaPage.for_top_nav(include_employee_only_pages: true).map do |page| %>
          .top-bar li.<%= page.slug %> a {
              background-color: <%= page.highlight_color %> !important;
              color: #FFFFFF;
            }
          .top-bar li.<%= page.slug %> ul.dropdown li a {
            background-color: <%= page.highlight_color %> !important;
            opacity: 0.75;
            color: #000000 !important;
          }
          .top-bar li.<%= page.slug %> ul.dropdown li a:hover {
            background-color: <%= page.highlight_color %> !important;
              opacity: 1;
            color: #E2E2E2 !important;
          }
        <% end %>
    </style>
    <%= yield :header_code %>
  </head>

  <body>
    <% unless Rails.env.production? %>
      <div class="text-center" style="background: yellow; padding: 3px">
        Hi. Welcome to the pro.harman.com <%= Rails.env.to_s %> environment.
      </div>
    <% end %>

    <div class="row logo-container">
      <div class="medium-12 columns">
        <div class="row">

          <div class="medium-8 small-7 columns">
            <h1 class="logo hide-for-small">
              <a href="http://www.harman.com"><%= image_tag "logo.png", alt: t('logo_alt_text'), id: "logo" %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
            <h1 class="logo show-for-small">
              <a href="/"><%= image_tag "logo_sm.png", alt: t('logo_alt_text') %></a>
            </h1>
          </div>

          <div class="medium-4 small-5 columns text-right">
            <br/>
            <% if user_signed_in? %>
              <%= link_to 'My Account', edit_user_registration_path %> |
              <% if current_user.emea_admin_access? %>
                <%= link_to 'Admin', emea_admin_path %> |
              <% end %>
              <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path %> |
              <%= link_to 'Sign Up', new_user_registration_path %>
            <% end %>
          </div>
        </div>
        <hr/>

      </div>
    </div>

    <div class="contain-to-grid sticky">
      <nav class="emea-top-bar top-bar" data-topbar role="navigation">

        <ul class="title-area">
          <li class="name logo-container">
            <h1 class="logo show-for-small">
              <a href="http://www.harman.com"><%= image_tag "logo_sm.png", alt: t('logo_alt_text') %></a>
              <small><a href="/"><%= t("professional_solutions").upcase %></a></small>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
        </ul>

        <% if user_signed_in? %>
          <section class="top-bar-section">
            <ul>
              <%= emea_top_nav_items(current_user) %>
            </ul>
          </section>
        <% end %>

      </nav>
    </div>

    <%= render 'layouts/flash_messages' %>

    <div class="row">
      <div class="small-12 columns">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "emea" %>

    <%= render 'shared/marketing_tracking' %>

  </body>
</html>
